@media only screen and (max-width: 1150px){
    .nav-list{
        flex-direction: column;
    }

    .navbar{
        /* height: 480px; */
        height: auto;
        flex-direction: column;
        transition: all 0.4s ease-in-out;
        background-color: #534b4b;
        background-image: none;
    }

    .rightNav{
        text-align: center;
    }   

    #search{
        width: 100%;
    }

    .menu{
        display: block;
    }

    .h-nav-resp{
        height: 55px;
    }

    .v-class-resp{
        opacity: 0;
    }

    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .section{
        flex-direction: column-reverse;
    }

    .text-small{
        text-align: center;
    }

    .text-big{
        text-align: center;
    }

    .buttons{
        text-align: center;
    }

    .paras{
        padding: 0px 1px;
        /* text-align: right; */
    }

}